{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>{% endblock %}
{% block title %}Ingredient index{% endblock %}

{% block body %}
    <h1>Ingredient index</h1>

    <table class="ui table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.id }}</td>
                <td>{{ ingredient.nom }}</td>
                <td>
                    <a class="ui button" href="{{ path('ingredient_show', {'id': ingredient.id}) }}">show</a>
                    <a class="ui button" href="{{ path('ingredient_edit', {'id': ingredient.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="ui button" href="{{ path('ingredient_new') }}">Create new</a>
{% endblock %}
