{% extends "base.html.twig" %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>{% endblock %}


{% block body %}
    <h1>Filtre</h1>
    {{ form(monForm) }}
    <h1 class="ui header">Liste des Recettes Alpha</h1>
    <table class="ui celled table">
         <thead>
    <tr><th>Titre</th>
    <th>Auteur</th> 
    <th>Action</th>
  </tr></thead>
         <tbody>
{% for recette in mesRecettes %}
    <tr><td><a href="{{ path("detail-recette",{"id":recette.id})}}">{{ recette.titre }}</a></td>
        {% if recette.utilisateur %}
        <td>{{ recette.utilisateur }}</td>
    

    {% else %} <td>ANONYME</td>
         {% endif %}   
    <td> <a class="ui button" href="{{ path('delete-recette', {'id': recette.id}) }}">Delete</a></td>
{% endfor %}
</tr>
         </tbody>
    </table>
{% endblock %}
